<div class="container main-container mt-4">

  <div class="card shadow-sm">

    <div class="card-header bg-danger text-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0">Lista de Fornecedores</h4>

      <a class="btn btn-light btn-sm" [routerLink]="['/fornecedores/adicionar-novo']">
        <i class="fas fa-plus me-1"></i>
          Novo Fornecedor
      </a>
    </div>

    <div class="card-body">
      @if (fornecedores$ | async; as fornecedores) {

        @if (fornecedores.length > 0) {

          <table class="table table-hover align-middle">
            <thead class="table-light">
              <tr>
                <th>Nome</th>
                <th>Documento</th>
                <th class="text-center">Ativo</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              @for (fornecedor of fornecedores; track fornecedor.id) {

                <tr>
                  <td class="fw-semibold">{{ fornecedor.nome }}</td>
                  <td>{{ fornecedor.tipoFornecedor === 1
                        ? (fornecedor.documento | cpf)
                        : (fornecedor.documento | cnpj) }}
                  </td>

                  <td class="text-center">
                    @if (fornecedor.ativo) {
                      <span class="badge bg-success">Ativo</span>
                    } @else {
                      <span class="badge bg-secondary">Inativo</span>
                    }
                  </td>

                   <td class="text-end">
                    <div class="d-flex justify-content-end gap-2">
                      <a class="btn btn-action detalhes"
                        [routerLink]="['/fornecedores/detalhes', fornecedor.id]" title="Detalhes">
                        <i class="fas fa-search"></i>
                      </a>

                      <a class="btn btn-action editar"
                       [routerLink]="['/fornecedores/editar', fornecedor.id]" title="Editar">
                        <i class="fas fa-edit"></i>
                      </a>

                      <a class="btn btn-action excluir"
                        [routerLink]="['/fornecedores/excluir', fornecedor.id]" title="Excluir">
                        <i class="fas fa-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>

        } @else {
          <div class="alert alert-secondary">
            Nenhum fornecedor cadastrado.
          </div>
        }

      } @else {
        <div class="text-center p-4">
          <div class="spinner-border text-danger"></div>
          <p class="mt-2">Carregando Fornecedores...</p>
        </div>
      }

    </div>
  </div>

</div>
